<!doctype html>
<html>
<head>
<style>
	*{padding:0;margin:0}
	.content{
	width:900px;height:auto;margin:auto;
	-moz-box-shadow: 0 0 4px -1px #999;
	-webkit-box-shadow: 0 0 4px -1px #999;
	box-shadow: 0 0 4px -1px #999;
	}
	header{padding:30px 40px;border-bottom:2px solid #2262C2}
	.h2{color:#2262C2;width:300px;font-family: 'Open Sans', sans-serif;}
	.top{background:#2262C2;height:6px;width:100%}
	.font1{font-family: Georgia, 'Times New Roman', Times, serif; color:#41B5EC; font-size:20px;}
	.font2{font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:18px;}
	.font{font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px;text-align:justify}
	
	.activate{padding:10px 15px;border:1px solid #eee;border-radius:5px;font-size:12px;
	color:#555;text-decoration:none;
	background: #fefefd; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefd 0%, #ededed 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefd), color-stop(0%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefd 0%,#ededed 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefd 0%,#ededed 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefd 0%,#ededed 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefd 0%,#ededed 0%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	}
	.activate:hover{color:#333}
	footer{background:#2262C2;height:18px;width:100%}
</style>
</head>

<body>
	<div class="content">
		<div class="top"></div>
		
		<header>
			<h1><img src="{{ site_url }}static/img/logo.png" style="width:200px;height:80px"/></h1>
		</header>
		
		<div>
			<img src="{{ site_url }}static/img/rome.jpg" style="width:100%;height:250px"/>
		</div>
		
		<div style="padding:20px 40px;">
		
			<div width="80%" align="left" valign="top">
				<font class="font1"><strong><em><font style="font-size:26px">W</font>ELCOME TO NELLIKKAL TOURS AND TRAVELS</em></strong></font>
			</div><br />
			
			<div width="80%" align="left" valign="top">
				<font class="font2"><strong><em>Hi {{username}},</em></strong></font><br /><br />
			</div>
			
			<div class="font">
				<p>
					Thanks for signing up with Nellikkal tours & travels - an awesome web space for easy travelling across the india. India is a treditional country its have a lot of historic places , and south india surounded by sea and north india surrounded by himalaya. a lot of natural beaty like beaches forests,waterfalls,hill stations are in incredible india.
				</p><br />
				
				<p>Your Nellikkal tours & travels account is ready to go. All you need to do is to activate it by clicking on the following link:</p>
				<br />
				
				<a href="{{ site_url }}accounts/verify/{{ verification_key }}/" class="activate"><b>Activate Your Account</b></a><br/><br/>

				<div style="width:100%;height:2px;background:#eee;float:left;margin-top:20px"></div><br />
				
				<div style="margin-top:15px;float:left;"><p>On behalf of the Nellikkal tours and travels<br />
					<span><em>Jithin N P</em></span><br>
					<span><em>Tour cordinator</em></span><br>
					<span><em>Nellikkal tours and travels</em></span><br>
					<hr>
					<span><em>Mobile : +91-8943786161</em></span><br>
					<span><em>email : jithin@nellikkaltoursandtravels.com</em></span><br>

				</p></div>
			</div>
		</div>
		
		<footer></footer>
	</div>
</body>
</html>