<html>
<head>
	<title></title>
</head>
<body>
	 <div class="container" style="width:100%">

		
		<div class="container" style="height:200px;margin-top:180px">
                <div style="height:200px;text-align:center;margin:auto;width:100%">
					{% if account %}

					<p style="font-size:25px;color:#66BAFC;text-align:center;text-decoration:underline">{% trans "Account successfully activated" %}</p>
					
					<p style="color:#666">Your  Account will be activated and you will now be able to sign in to  using the username and password entered in the sign in form.</p><br/>
					
					<p style="font-size:18px;color:#D52F3C;">Please Sign in here</p>
					
					<p><a href="{% url 'signin' %}" style="background:#eee;padding:7px 20px;border-radius:5px;border:1px solid #ddd"><b>{% trans "Log in" %}</b></a></p>

					{% else %}

					<p style="font-size:25px;color:#66BAFC;text-align:center;">{% trans "Account activation failed" %}</p>

					{% endif %}
					<div class="clearfix"></div>
				</div>
            
        </div><!-- close .content-boxed -->
        </div><!-- close .content-boxed -->
</body>
</html>