<html>
<head>
	<title></title>
</head>
<body>
<div class="login-fullwidith" style="width: 1314px; height: 635px;">
        
        <!-- Login Wrap  -->
        <div class="login-wrap" style="margin-top: 127.5px;width='350px">
            <img src="{{ STATIC_URL }}img/logo.png" class="login-img" alt="logo"><br>
			
			
					
			<div class="login-c2" style="float:left">
				<div class="login-c1">
					<div class="cpadding50">
						<h2>Done</h2>
						<p>Your password has successfully been reset. You can use it right now on the login page.</p>
					</div>
				</div><br/>

				
				<div style="width:100%;float:left;padding-bottom:20px">
					<div style="width:40%;float:left">
						<center>
							<div class="checkbox" style="width:60%;">
								<label>
									
								</label>
							</div>
						</center>
					</div>
						
					<div style="width:58%;float:left">
						<center>
							<p><a href="{% url 'signin' %}" class="btn-search4">Login</a> 
						</center>      
					</div>
				</div>
			</div>
			
			<div style="width:100%;float:left">
				<div class="login-c3" style="height:50px">
					<div class="left">
						<a href="#" class="whitelink"><span></span>website</a>   
					</div>

					<div class="right">
						<a href="{% url 'signup' %}" class="whitelink"><span></span>New User</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{% url 'signin' %}" class="whitelink">already user?</a>
					</div>
				</div>
			</div>
        </div>
        <!-- End of Login Wrap  -->
    
    </div>  
</body>
</html>