<html>
<head>
	<title></title>
</head>
<body>
<div class="login-fullwidith" style="width: 1314px; height: 635px;">
        
        <!-- Login Wrap  -->
        <div class="login-wrap" style="margin-top: 127.5px;width='350px">
            <img src="{{ STATIC_URL }}img/logo.png" class="login-img" alt="logo"><br>
			
			
			<div class="login-c2" style="float:left">
				<div class="login-c1">
					<div class="cpadding50">
						<center>
							<h2>Email send!!!</h2>
							<p>An email was sent to <strong>{{ email }}</strong> {{ ago }} ago. Use the link in it to set a new password.</p>
						</center>
					</div>
				</div>
				<br/>
			</div>
			
			<div style="width:100%;float:left">
				<div class="login-c3" style="height:50px">
					<div class="left">
						<a href="#" class="whitelink"><span></span>website</a>
					</div>

					<div class="right">
						<a href="{% url 'signup' %}" class="whitelink"><span></span>New User</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{% url 'signin' %}" class="whitelink">already user?</a>
					</div>
				</div>  
			</div>
        </div>
        <!-- End of Login Wrap  -->
    
    </div>  
</body>
</html>