<html>
<head>
	<title></title>
</head>
<body>
<div class="login-fullwidith" style="width: 1314px; height: 635px;">
        
        <!-- Login Wrap  -->
        <div class="login-wrap" style="margin-top: 127.5px;width='350px">
            <img src="{{ STATIC_URL }}img/logo.png" class="login-img" alt="logo"><br>
			
			
			
				<div class="login-c2" style="float:left">
			
            {% if invalid %}{% url "password_reset_recover" as recovery_url %}
			
		
				<div class="login-c1">
					<div class="cpadding50">
						<p>Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.</p>
						
					</div>
				</div>
				
			
            {% else %}
				<form method="post" action=".">
					{% csrf_token %}
					<div class="login-c1">
						<div class="cpadding50">
							Hi, <strong>{{ username }}</strong>. Please choose your new password.<br>
							<div style="margin-top:20px;">
								{% for field in form %}
								{{ field }}
								{{ field.errors }}
								{% endfor %}
							</div>
							
						</div>
					</div><br/>
					
					<div style="width:100%;float:left;padding-bottom:20px">
						<div style="width:40%;float:left">
							<center>
								<div class="checkbox" style="width:60%;">
								</div>
							</center>
						</div>
						
						<div style="width:58%;float:left">
							 <center><button class="btn-search4" type="submit" onclick="errorMessage()">Set new password</button>  </center>                        
						</div>
			  
					</div>
				</form>
			
			
			
            {% endif %}
			</div>
			
			<div style="width:100%;float:left">

				<div class="login-c3" style="height:50px">
					<div class="left">
						<a href="#" class="whitelink"><span></span>website</a>
					</div>

					<div class="right">
						<a href="{% url 'signup' %}" class="whitelink"><span></span>New User</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{% url 'signin' %}" class="whitelink">already user?</a>
					</div>
				</div> 
			</div>
        </div>
        <!-- End of Login Wrap  -->
    
    </div>  
</body>
</html>