<html>
<head>
	<title></title>
</head>
<body>
<div class="login-fullwidith" style="width: 1314px; height: 635px;">
        
        <!-- Login Wrap  -->
        <div class="login-wrap" style="margin-top: 127.5px;width='350px">
            <img src="{{ STATIC_URL }}img/logo.png" class="login-img" alt="logo"><br> 
			
			<div class="login-c2" style="float:left">
				<form method="post" action="{%url 'signin'%}">
					{% csrf_token %}
				<div class="login-c1">
					<div class="cpadding50">
						{{ form.username }}
						{{ form.username.errors }}
						<br>
						{{ form.password }}
						{{ form.password.errors }}
					</div>
				</div><br/>
         
		 
				<div style="width:100%;float:left;padding-bottom:20px">
					
					<div style="width:49%;float:left">
						<center>
							<div class="checkbox" style="width:30%;">
								<label>
									<input type="checkbox">Remember
								</label>
							</div>
						</center>
					</div>
					
					<div style="width:49%;float:left">
						<center><button class="btn-search4" type="submit" onclick="errorMessage()">Submit</button></center>                          
					</div>
					<br/>
				</div>
				</form>
			</div>
			<div style="width:100%;float:left">
				<div class="login-c3" style="height:50px">
					<div class="left">
						<a href="#" class="whitelink"><span></span>website</a>
					</div>

					<div class="right">
						<a href="{% url 'signup' %}" class="whitelink"><span></span>New User</a>&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="{% url 'password_reset_recover' %}" class="whitelink">Lost password?</a>
					</div>
				</div> 
			</div>
        </div>
        <!-- End of Login Wrap  -->
    
    </div>  
</body>
</html>